// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

@font-face {
	font-family: Lost in Wild; src:url("../fonts/LostinWild.ttf");
}

body {
	font-family: 'Roboto', sans-serif;
	background-color:#F5F5F5;
	margin:0px;
	padding: 0px;
}

// Global Variables

$blue:#013F70;
$orange:#FAA21A;
$white:#F5F5F5;
$small-font:17px;
$medium-font:18px;
$large-font:55px;
$font-30:30px;
$light:300;
$bold:800;

$padding:80px 0px 40px 0px;



.reset{
	margin:0px;
	padding: 0px;
}
.position{
	max-width:1440px;
	margin:0 auto;
}

.circle-orange{
	height:8px;
	width:8px;
	background-color: $orange;
	border-radius: 10px;
}
.circle-blue{
	height:8px;
	width:8px;
	background-color: $blue;
	border-radius: 10px;
	margin:0px 15px;
}
.circle-white{
	height:8px;
	width:8px;
	background-color: $white;
	border-radius: 10px;
	margin:0px 15px;
}

.footer-border{
    border-top: 1px solid $blue;
}