// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

@font-face {
	font-family: Lost in Wild; src:url("../fonts/LostinWild.ttf");
}

body {
	font-family: 'Roboto', sans-serif;
}

// Global Variables

$blue:#013F70;
$orange:#FAA21A;
$white:#F5F5F5;
$small-font:17px;
$medium-font:18px;
$large-font:26px;

.reset{
	margin:0px;
	padding: 0px;
}
.position{
	max-width:1410px;
	margin:0 auto;
	
}