// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

@font-face {
	font-family: Lost in Wild; src:url("../fonts/LostinWild.ttf");
}

body {
	font-family: 'Roboto', sans-serif;
	background-color:#F5F5F5;
	margin:0px;
	padding: 0px;
}

// Global Variables

$blue:#013F70;
$orange:#FAA21A;
$white:#F5F5F5;
$small-font:17px;
$medium-font:18px;
$large-font:55px;
$font-30:30px;
$light:300;
$bold:800;

$padding:80px 0px 40px 0px;



.reset{
	margin:0px;
	padding: 0px;
}
.position{
	max-width:1440px;
	margin:0 auto;
}

.circle-orange{
	height:8px;
	width:8px;
	background-color: $orange;
	border-radius: 10px;
}
.circle-blue{
	height:8px;
	width:8px;
	background-color: $blue;
	border-radius: 10px;
	margin:0px 15px;
}
.circle-white{
	height:8px;
	width:8px;
	background-color: $white;
	border-radius: 10px;
	margin:0px 15px;
}

.footer-border{
	border-top: 1px solid $blue;
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}


@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-1000px);
		transform: translateY(-1000px);
		opacity: 0;
	}
	
	40%{
		opacity:0.5;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in{
	
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}



.sticky{
	
	position:sticky;
	top:0px;
	left:0px;
	z-index:5;
	transition: ease;

	
}
