
// 2. How to add custom icons to API (verovatno if cloudy add clouds)//
// 3. How to change template hamburger icon and dropdown background; //inspect
// 4. Best way to make my dropdown form//





// URADITI

// 1. GALERIJA
// 2. FORM VALIDATION done
// 3. FIX MOVING NAVIGATION
// 4. ADD SCROLL button
// 5. ADD BACK HOME BUTTON
// 6. NAPRAVITI NOVI DROPDOWN U DROPDOWNU
// 7. U GALERIJI NAPRAVI DA SE NA KLIK ISWIB 2017 POJAVE ISWIB2017 SLIKE SA NASLOVOM IWIB 2017 etc
// 5. add a tag to And many more on  Activities section/ Landing page