// 1. How to overlay image 
// 2. How to add custom icons to API (verovatno if cloudy add clouds
// 3. How to change template hamburger icon and dropdown background;
// 4. Best way to make my dropdown form
// 5. add a tag to And many more on  Activities section/ Landing page




// URADITI

// 1. GALERIJA
// 2. FORM VALIDATION
// 3. FIX MOVING NAVIGATION
// 4. ADD SCROLL button
// 5. ADD BACK HOME BUTTON
// 6. NAPRAVITI NOVI DROPDOWN U DROPDOWNU