@import "reset";
@import "global";

/* Template segments */

@import "template/nav";
@import "template/footer";
@import "template/hero";
@import "template/about";
@import "template/activity";
@import "template/workshops";
@import "template/orgTeam";