@import "reset";
@import "global";

/* Template segments */

@import "template/nav";
@import "template/footer";
@import "template/hero";
@import "template/about";
@import "template/activity";
@import "template/workshops";
@import "template/orgTeam";
@import "template/announcement-nav";
@import "template/contact-header";
@import "template/contact";
@import "template/gallery";
@import "template/back-home";
@import "blueimp-gallery.min";
@import "template/back-to-top";