#content{ 

    position: relative;
   
   .myContent{
        &::before{
        width: 0;
        height: 0;
        border-bottom: 100px solid $blue;
        border-left: 50vw solid transparent;
        position: absolute;
        bottom:0;
        right:0px;
        margin:0;
        padding:0;
        content:"LOL";
    }
    &::after{
        width: 0;
        height: 0;
        border-bottom: 100px solid $blue;
        border-right: 50vw solid transparent;
        position: absolute;
        bottom:0;
        left:0px;
        margin:0;
        padding:0;
        content:"";
    }
    h1{
        font-size: $large-font;
        font-weight: 300;
        color:$blue;
        padding-top: 100px;
        &::after{        
            content:"Lead";
            font-weight: 800;
        }
    }
    .circle{
        padding:40px 0px 60px 0px;;
    }
    
    p{
        font-size: 26px;
        
        color:$blue;
        font-weight: $light;
        line-height: 40px;
        padding-bottom:80px;
        
    }
    .button-orange{
        font-size:$medium-font;
        padding:20px 60px;
        background-color: $orange;
        border-radius: 30px;
        font-weight:$bold;
        color:$blue;
        margin-bottom: 100px;
    }

    
    
}
}

