#content{ 
    padding:80px 15px 50px 15px;
    h1{
        font-size: $large-font;
        font-weight: 300;
        color:$blue;
        padding-top: 80px;
        &::after{        
            content:"Lead";
            font-weight: 800;
        }
    }
    .circle{
        padding:40px 0px 60px 0px;;
    }
    
    p{
        font-size: 26px;
        
        color:$blue;
        font-weight: $light;
        line-height: 40px;
        padding-bottom:80px;
        
    }
    .button-orange{
        font-size:$medium-font;
        padding:20px 60px;
        background-color: $orange;
        border-radius: 30px;
        font-weight:$bold;
        color:$blue;
    }
    .skew{
        width:50%;
        height:100px;
        background-color:$white;
        position: absolute;
        transform: skew(0,3deg);
        z-index: 6;
        margin:0px;
        left:0px;
    }
    .skewRight{
        width:50%;
        height:100px;
        background-color:$white;
        position: absolute;
        transform: skew(0,-3deg);
        z-index:5;
        right:0px;
        margin:0px;
    }
    
    
    
}

