#content{ 
    
    padding:10%;
    
    h1{
        font-size: 72px;
        font-weight: 300;
        color:$blue;
        padding-top: 80px;
        &::after{        
            content:"Lead";
            font-weight: 800;
        }
    }
    .circle{
        padding:40px 0px 60px 0px;;
    }
    
    p{
        font-size: 26px;
      
        color:$blue;
        font-weight: $light;
        line-height: 40px;
        padding-bottom:80px;
        
    }
    .button-orange{
        font-size:$medium-font;
        padding:20px 60px;
        background-color: $orange;
        border-radius: 30px;
        font-weight:$bold;
        color:$blue;
    }
    // .skew{
    //     width:50%;
    //     height:100px;
    //     background-color:pink;
    //     position: absolute;
    //     transform: skew(0,3deg);
    //     top:120%;
    // }
    // .skewRight{
    //     width:50%;
    //     height:100px;
    //     background-color:$white;
    //     position: absolute;
    //     transform: skew(0,-3deg);
    //     bottom:0%;
    //     right:0;
    // }
}

