#announcement{

background-color:$orange; 
.position{
    overflow: hidden;

}
a{
    font-size:15px;
    padding:5px 0px 5px 30px;
    font-weight: bolder;
    color:$blue;
    animation: announcement-move 30s  infinite;

    @keyframes announcement-move {

        0%{
            transform: translate(-1000px);
        }
        100%{
            transform: translate(1440px);
        }
      

}
}
}