#back-to-top{
    padding:7px;
    border: 3px solid $blue;
    margin-top:80px;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    height:50px;
    width:50px;
    // position: fixed;
    // bottom:0;
    // right:0;
    cursor: pointer;
    &:hover{
    padding:3px;
    }
}

