.contact{
    color:$blue;
    h1{
        font-size: $large-font;
        color:$blue;
        padding:80px 0px 40px 0px
    }
    
    

    .address{
      
        h2{
            font-size: 24px;
            margin:80px 0px 0px 0px;
         
        }
        hr{
            height: 2px;
            background-color: $orange;
            width:100% !important;
        }
        text-align: center;
        img{
         height:300px;   
         margin-top: 70px;
        }
        form{
            label{
                text-align: left;
            }
            button{
                
                background:$orange;
                border:none;
                padding:14px 30px;
                border-radius: 25px;
                color:$blue;
                font-weight: bolder;
                font-size: 15px;
                margin-bottom:150px;
            }
            div{
                margin:10px 0px;
                input, textarea{
                    border-radius: 5px;
                    border:1px solid #ababab;
                    background-color: #f9f9f9;
                    font-size: 15px;
                    padding: 10px;
                }
            }

        }
        
    }
    
}