
.overall{

    background: url('../img/cover.jpg');
    height: 50vh;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;




    // .skew{
    //     width:50%;
    //     height:100px;
    //     background-color:$blue;
    //     position: relative;
    //     transform: skew(0,3deg);
    //     margin:0px;
    //     left:0px;
    // }
    // .skewRight{
    //     width:50%;
    //     height:100px;
    //     background-color:$blue;
    //     position: relative;
    //     transform: skew(0,-3deg);
    //     right:00px;
    //     margin:0px;
    // }

}