
.hero{
    background-color: rgba( #FAA21A, $alpha: 1);
    position: relative;
    // background-image: url('../img/mainHero5.png');
    background-blend-mode: overlay;  
    &::before{
        width: 0;
        height: 0;
        border-bottom: 100px solid $white;
        border-left: 50vw solid transparent;
        position: absolute;
        bottom:0;
        right:0px;
        margin:0;
        padding:0;
        content:"";
    }
    &::after{
        width: 0;
        height: 0;
        border-bottom: 100px solid $white;
        border-right: 50vw solid transparent;
        position: absolute;
        bottom:0;
        left:0px;
        margin:0;
        padding:0;
        content:"";
    }
    .hero2{
        
        
        
        .content{
            padding-top:15%;
            padding-bottom: 15%;
            display: flex;
            flex-direction:column;
            
            h1,h4,h5{
                font-family: Lost in Wild;
                padding:0px;
                color:$blue;
            }
            h1{
                font-size:150px;
                color:$white;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            }
            
            h4{
                padding-bottom: 70px;
                text-align: left;
                animation: fade-in 0.8s ease;
            }
        }

        h5{
            margin:30px;
            animation: fade-in 0.8s ease;

        }
        .skew{
            width:50%;
            height:100px;
            background-color:$orange;
            position: absolute;
            transform: skew(0,3deg);
            margin:0px;
            left:0px;
            top:90%
        }
        .skewRight{
            width:50%;
            height:100px;
            background-color:$orange;
            position: absolute;
            transform: skew(0,-3deg);
            right:0px;
            margin:0px;
            top:90%;
        }
        
        
    }
    
    
} 
