.hero{
    
    background-color: $orange;
    position: relative;
&::before{
    background-image: url('../img/mainHero.jpg');
    background-position: center;
    background-blend-mode: overlay;
    width:auto;
    height:600px;
    content:"";
}
    .content{
        padding-top:10%;
        padding-bottom: 8%;
      
        display: flex;
        flex-direction:column;
        
        h1,h4,h5{
            font-family: Lost in Wild;
            padding:0px;
            color:$blue;
        }
        h1{
            font-size:150px;
            padding-top: 20px;
            color:$white;
        }

        h4{
            padding-bottom: 100px;
            text-align: left;

        }
    }
    
    .skew{
        width:50%;
        height:100px;
        background-color:$orange;
        position: absolute;
        transform: skew(0,3deg);
        margin:0px;
        left:0px;
        top:90%
    }
    .skewRight{
        width:50%;
        height:100px;
        background-color:$orange;
        position: absolute;
        transform: skew(0,-3deg);
        right:0px;
        margin:0px;
        top:90%;
    }
}
@media only screen and (max-width: 600px) {
   
    h1{
font-size:80px;
    }
}