//weather nav

#weather{

    background:$blue;
    padding:10px 15px;
    .position{
        max-width:1440px;
        margin:0 auto;        
    }
    a{
        color:$white;
        font-size: $small-font;
        padding:0px 20px;
        font-weight: 700;
    }
}



   .navigation{
       background:$white;
     
     #navigation{
         background:$white !important; 
         max-width: 1440px !important;
         .brand{
            a{
                font-size: $small-font;
                color:$blue;
                font-weight: 600;
            }
            #balloon{
                height:100px;
                fill:$blue;
                &:hover{
                    transform: scale(1.05);
                    transition:1s all;
                }
            }
         }
         .menu{
             ul{
                li{
                    list-style-type: none;
                    margin:10px;
             .dropdown-toggle:hover::after{
                
                    padding:15px;
                    display:none;
                 
             }
                    a{
                        font-size: $small-font;
                        font-weight: 600;
                        padding:15px;
                        text-decoration: none;
                        color:$blue;
                      
                        &:hover{
                            background-color:$blue;
                            color:$white;
                            border-radius: 5px;
                        }
                    }
                    .myDropdown{
                        background:$blue;
                       a{
                        color:$white;
                       }
                    }
                

                }

             }
         }



     }

   }