//weather nav

#weather{
    
    background:$blue;
    padding:10px 15px;
    // transition: 0.5s   ease-in-out;
    
    
    a{
        color:$white;
        font-size: $small-font;
        // padding:0px 20px;
        font-weight: 700;
        margin-right:30px;
    }
}


#navigation{
    background-color:$white;
    width:100%;
    margin:0 auto;

  
    .brand{
        a{
            font-size: $small-font;
            color:$blue;
            font-weight: 600;
        }
        #balloon{
            height:90px;
            // display: none;
            fill:$blue;
            transition:0.3s ease;
            &:hover{
                transform: scale(1.05);
                transition:1s all;
            }
        }
    }
    .menu{
        ul{
            li{
                list-style-type: none;
                margin: 0px 15px;
                a{
                    font-size: $small-font;
                    font-weight: 600;
                    padding:10px;
                    display: block;
                    //   margin:0px;
                    text-decoration: none;
                    color:$blue;
                    
                    &:hover{
                        background-color:$blue;
                        color:$white;
                        border-radius: 5px;
                    }
               
                }
                .myDropdown{
                    background:$blue;
                    a{
                        color:$white;
                    }
                }
                
                
            }
            
        }
    }
}



// added classes
.navFixed{
position: fixed;
// transition: 0.5s ease;
left:0;
top:0;
background-color:$white;
border-bottom: 1px solid $blue;
z-index: 1;
}
