//weather nav

#weather{
    
    background:$blue;
    padding:10px 15px;
    transition: 1s  all ease;

    
    a{
        color:$white;
        font-size: $small-font;
        // padding:0px 20px;
        font-weight: 700;
        margin-right:30px;
    }
}


#navigation{
    background:$white;
    width:100%;
    margin:0 auto;
    transition: 1s ease;
    
    .brand{
        a{
            font-size: $small-font;
            color:$blue;
            font-weight: 600;
        }
        #balloon{
            
            fill:$blue;
            &:hover{
                transform: scale(1.05);
                transition:1s all;
            }
        }
    }
    .menu{
        ul{
            li{
                list-style-type: none;
                margin:30px;
                .dropdown-toggle:hover::after{
                    padding:15px;
                    display:none;
                    
                }
                a{
                    font-size: $small-font;
                    font-weight: 600;
                    padding:15px;
                    text-decoration: none;
                    color:$blue;
                    
                    &:hover{
                        background-color:$blue;
                        color:$white;
                        border-radius: 5px;
                    }
                }
                .myDropdown{
                    background:$blue;
                    a{
                        color:$white;
                    }
                }
                
                
            }
            
        }
    }
}



