.orgTeam{

    background-color:rgb(250, 160, 25); 
    padding:80px 0px 50px;
    position: relative;
    z-index: 0;
&::before{
    content: ''; 
    width: 100%; 
    height: 100%;
    background-color: rgba($color: #FAA21A, $alpha: 1);  
    opacity: 0.2;
    position: absolute; 
    top: 0; 
    left: 0;
    z-index: -1;
    background-image: url('../img/hero3.png');
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    h1{
        font-size: $large-font;
        font-weight: lighter;
        color:$white;
       
        padding:$padding;
        &::after{
            content:"Team";
            font-weight: $bold;
        }
    }
    p{
        width:70%;
        font-weight: 400;
        color:$white;
        margin:40px 0px;
        font-size: 20px;
    }
    
    ul{
        text-align: center;
        .myCollapse{
            background-color: $white;
            background-color: rgba(245, 245, 245, 0.4);
            padding:60px;
            margin:0px;  
            text-align: center;
            img{
                max-height:450px;
                width:100%;
                padding:20px;
            }
            p{
                margin:0px;
                font-weight: bolder;
                width:100%;
            }
        }
        
    }
    li{
        &:last-of-type{
            margin-bottom: 80px;
        }
        a{
            font-size: 22px;
            font-weight: bolder;
            color:$white;
          
        }
        
    }


}


