.orgTeam{
    
    background-color: $orange;
    
    
    h1{
        font-size: $large-font;
        font-weight: lighter;
        color:$white;
        padding:$padding;
        &::after{
            content:"Team";
            font-weight: $bold;
        }
    }
    p{
        width:70%;
        font-weight: 400;
        color:$white;
        margin:40px 0px;
        font-size: 24px;
    }
    
    ul{
        text-align: center;
        .myCollapse{
            background-color: $white;
            background-color: rgba(245, 245, 245, 0.6);
            
            img{
               max-height:400px;
            }
            p{
                margin:0px;
                font-weight: bolder;
            }

        }
        li{
a{
    font-size: 22px;
    font-weight: bolder;
    color:$white;
}
            
        }
    }
    
}
